img {
	width: 25px;
	height: 25px;
	color: white;
}

input {
	width: 80%;
	border: none;
	background-color: #f0f0f0;
	outline: none;
	font-family: "GothicA1-Light";
	font-weight: 600;
}

input::placeholder {
	color: #9f9f9f;
}
